certifi==2023.11.17  # Changed to be compatible with litellm's requirement
charset-normalizer==3.4.0
idna==3.10
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.3
huggingface-hub==0.26.0
datasets==3.0.2
litellm==1.7.12
